/* Reset default styles */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li Link {
    text-decoration: none;
    color: #333;
}
*/
/* Media query for smaller screens */
/*
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menu-toggle:checked + nav {
        display: block;
    }
}
*/



header img {

    height: 80px;
    margin-left: 40px;
}
main {
    color: white;
} 

 header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
} 

 header * {
    display: inline;
} 

 header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
} 

.speedDial {
    position: fixed;
    right: 3vmax;
    top: 2vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  